@import "variables";

// reset
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;

	background: $background;
	color: $light-gray;

	font-size: 0.875rem;

	@media (max-width: 640px) {
	}

	.app {
		height: 100%;
		width: 100%;
		position: relative;

		overflow: hidden;

		display: grid;
		place-items: center;

		header {
			font-size: 2.25em;
		}

		@import "nav";

		@import "main";

		footer {
			cursor: pointer;

			svg {
				height: 3rem;
				width: 3rem;
				fill: $dark-gray;
			}

			&:hover svg {
				fill: $light-gray;
			}
		}

		@import "modal";
	}

	@media (max-width: 640px) {
		overflow: auto;
		font-size: 0.65rem;

		.app {
			min-height: 100vh;
			overflow-y: auto;

			footer svg {
				height: 2rem;
				width: 2rem;
			}
		}
	}
}
